/******************************************************************

Stylesheet: Inti Flexible Content Blocks (Advanced Custom Fields)

These are the styles for Flexible Content Blocks, using the Flexible
Content field in ACF. These are a drop and drag alternative to 
Gutenberg Blocks. For Gutenberg blocks see: ../wp-partials/blocks.scss

To use them, see /page-templates/acf-page.php and Flexible Content Blocks 
field group in ACF and the blocks themselves in /framework/content/child-acf-blocks.php

******************************************************************/


section.inti-block {
	@include layout-spacing();

		// Header/Intro sections in each block
		header.block-header {
			margin-bottom: $global-margin*1.5; 

				.entry-title {
					@extend .h1;
					display: block; color: $body-font-color;
					margin-bottom: $global-margin/3;
				}
				.entry-subtitle {
					@extend .h5; color: $secondary-color; margin-bottom: $global-margin/3;
				}

				.entry-summary {
					margin-top: $global-margin/2;

					p {  }
					h1, h2, h3, h4, h5, h6 {  }
				}
		}

		.cta-buttons {
			margin-top: $global-margin;
			button, .button {
				@extend .black; margin-bottom: 0;
			}
		}

		&.centered {
			header.block-header {
				text-align: center;

					.entry-title {

					}
					.entry-summary {
						ul { display: inline flow-root list-item; }
					}
			}
			.cta-buttons {
				text-align: center;
			}
		}


		// Style classes independent of blocks		
		&.invert-text {
			color: $white;
			header.block-header {
				h3 { color: $white; }
				.entry-summary {
					p { color: $white; }
				}
			}
			.entry-content, .entry-summary {
				p, li { color: $white !important; }
			}

			a.button, button {
				@extend .secondary;
			}
		}

		&.cover {
			background-size: cover;
			background-position: 50%;
		}

		&.light-gray {
			background-color: $light-gray;
		}
		&.medium-gray {
			background-color: $medium-gray;
		}
		&.black {
			background-color: $black;
		}

		&.padding-top-none { padding-top: 0; }
		&.padding-bottom-none { padding-bottom: 0; }
		&.padding-none { padding: 0; }


		// Shows the content from any other page
		&.page-post {}

		// Shows the simple content
		&.content-block {}

		// Shows the simple content in multiple grid
		&.content-block.grid {}

		// Shows the a list of blog posts, usually in columns
		&.recent-posts {}

		// Shows inti-service post types
		&.services {
			article {
				.entry-summary {
					p { color: $body-font-color; }
				}
			}
		}

		// Shows a featured image and text
		&.featured-image {}

		// Shows a grid of large clickable card-like buttons
		&.shortcut-buttons {
			article.icon {
				padding: $global-padding;
				background-color: $medium-gray;
				transition: $global-transition;
				height: 100%;

				@include breakpoint(mlarge up) {
					padding: $global-padding*2;
				}

				.icon-wrapper {
					border: 1px solid; border-radius: 50%; transition: $global-transition;
					border-color: $white;
					width: 80px; height: 80px; display: block; text-align: center;

						.icon-point {
							font-size: 2rem; line-height: 72px; color: $white;
						}
				}
				.entry-header {
					.entry-title {
						@extend h5; text-transform: uppercase;
						color: $white;
					}
				}


				&:hover {
					background-color: $light-gray; color: $black;

					.entry-title { color: $black; }

					.icon-wrapper {
						transform: scale(1.1); border-color: $black; .icon-point { color: $black; }
					}
				}

					&.primary-color {
						background-color: $primary-color;

						.icon-wrapper { border-color: $white; .icon-point { color: $white; } }
						.entry-title {
							color: $white;
						}

						&:hover {
							background-color: rgba($primary-color, 0.75);
						}
					}

					&.secondary-color {
						background-color: $secondary-color;

						.icon-wrapper { border-color: $white; .icon-point { color: $white; } }
						.entry-title {
							color: $white;
						}

						&:hover {
							background-color: rgba($secondary-color, 0.75);
						}
					}

			}
		}

		// Shows a grid of typical icons
		&.icon-buttons {}
	
		// Shows a video from a streaming service
		&.video {}
	
		// Shows a Google Map embed URL
		&.map {
			iframe { display:block; max-height: 350px; }
		}

		// Shows logos that are Featured Images of the Logo custom type, in two styles
		&.logos {
			&.list {}
			&.slides {
				overflow: hidden;
					.inti-logos-carousel {
						position: relative; display: none;

							&.slick-initialized { display: block; }
					}
			}
		}

		// Shows inti-testimonials post types in two styles
		&.testimonials {
			&.list {}
			&.slides {
				overflow: hidden;
					.inti-testimonial-slider {
						position: relative; display: none;

							&.slick-initialized { display: block; }
					}
			}

			blockquote {
				background-color: transparent;
			}

			&.invert-text {
				blockquote {
					background-color: transparent;
					color: $white !important;
					.testimonial-owner, p {
						color: $white !important;
					}
				}


				.slick-prev,
				.slick-next {
					&:before {
						color: $white !important;
					}
				}
			}

			&.centered {
				text-align: center;

				.testimonial-owner { text-align: center; }
			}

		}

}