/******************************************************************

Stylesheet: Content Blocks (Advanced Custom Fields)

Styles for blocks that are placed on ACF-enabled page templates

******************************************************************/


section.inti-block {
	padding: $global-padding*2 0;

	@include breakpoint(mlarge up) {
		padding: $global-padding*3 0;
	}
	@include breakpoint(large up) {
		padding: $global-padding*5 0;
	}

		// Header/Intro sections in each block
		header.block-header {
			h3 {
				@extend .h1;
			}
			.entry-summary {
				p {}
			}
		}


		// Style classes independent of blocks		
		&.invert-text {
			color: $white;
			header.block-header {
				h3 { color: $white; }
				.entry-summary {
					p { color: $white; }
				}
			}
			.entry-content {
				p, li { color: $white; }
			}

			a.button, button {
				@extend .secondary;
			}
		}

		&.cover {
			background-size: cover;
			background-position: 50%;
		}


		// Shows the content from any other page
		&.page-post {}

		// Shows the simple content
		&.content-block {}

		// Shows the simple content in multiple columns
		&.content-block.columns {}

		// Shows the a list of blog posts, usually in columns
		&.recent-posts {}

		// Shows the a list of blog posts, usually in columns
		&.personal-bio {}

		// Shows inti-service post types
		&.services {}
	
		// Shows a video from a streaming service
		&.video {}
	
		// Shows a Google Map embed URL
		&.map {
			iframe { display:block; max-height: 350px; }
		}

		// Shows logos that are Featured Images of the Logo custom type, in two styles
		&.logos {
			&.list {}
			&.slides {
				overflow: hidden;
					.inti-logos-carousel {
						position: relative; display: none;

							&.slick-initialized { display: block; }
					}
			}
		}

		// Shows inti-testimonials post types in two styles
		&.testimonials {
			&.list {}
			&.slides {
				overflow: hidden;
					.inti-testimonial-slider {
						position: relative; display: none;

							&.slick-initialized { display: block; }
					}
			}
		}

		// Pulls instagram images and displays in two styles
		&.instagram {
			&.list {}
			&.slides {
				overflow: hidden;
					.inti-instagram-carousel {
						position: relative; display: none;

							&.slick-initialized { display: block; }
					}
			}
		}

}