
/******************************************************************

Stylesheet: Navigation

This style sheet contains styles for all page navigation menus. This
includes the default F6 top-bar and off-canvas. This file also contains
the common styles that would apply to page navigation widgets or the 
footer menu that are part of Inti Foundation be default.

** 
This replaces _off-canvas.scss and _top-bar.scss from 
Inti Foundation v1.2.11 
**

******************************************************************/

$global-menu-background: $black; //$topbar-background;
$global-menu-color: $white;
$global-menu-color-hover: $black;
$global-menu-color-background: transparent;
$global-menu-color-background-hover: $white;


// Common Nagivation elements and common styles
ul.site-navigation {
	background-color: transparent;

	li {
		a { color: $global-menu-color; }
		a:hover { color: $global-menu-color-hover; background: $global-menu-color-background-hover; }

		&.is-active > a { color: $global-menu-color-hover; background: $global-menu-color-background-hover; }
		&.current-menu-item > a { color: $global-menu-color-hover; background: $global-menu-color-background-hover; }
		&.current-menu-parent > a, &.current-menu-ancestor > a { color: $global-menu-color-hover; background: $global-menu-color-background-hover; }

		ul.submenu {
			background: $global-menu-background; //$-menu-submenu-background;
			li {
				a {}
			}
		}
	}
	
		// individual menu styles
		&.site-navigation-top-bar { //dropdownmenu
			li {
				a { color: $global-menu-color; }
				a:hover { color: $global-menu-color-hover; background: $global-menu-color-background-hover; }

				&.is-active > a { color: $global-menu-color-hover; background: $global-menu-color-background-hover; }
				&.current-menu-item > a { color: $global-menu-color-hover; background: $global-menu-color-background-hover; }
				&.current-menu-parent > a, &.current-menu-ancestor > a { color: $global-menu-color-hover; background: $global-menu-color-background-hover; }

				// Top level arrows
				&.menu-item-has-children, &.is-dropdown-submenu-parent {
					> a::after { border-color: $dropdownmenu-arrow-color transparent transparent; }
				}
					// when active
					&.is-active, &.current-menu-item, &.current-menu-parent, &.current-menu-ancestor {
						> a::after { border-color: $black transparent transparent; }
					}


				ul.submenu {
					@include fadeInDown($duration: .1s);
					background: $global-menu-background; //$-menu-submenu-background;
					li {
						a {}
						
						// Sub menu arrows (pointing left)
						&.menu-item-has-children, &.is-dropdown-submenu-parent {
							> a::after { border-color: transparent $dropdownmenu-arrow-color transparent transparent; }
						}
							// when active
							&.is-active, &.current-menu-item, &.current-menu-parent, &.current-menu-ancestor {
								> a::after { border-color: transparent $black transparent transparent; }
							}
					}

				}
			}

		}
		&.site-navigation-drilldown {}
		&.site-navigation-accordion {}
		&.site-navigation-footer {} // overwritten in _site-footer.scss
		&.site-navigation-widget {} // overwritten in _sidebar.scss


}

// Top Bar Container, used with #site-header-contained in part-header-contained.php
.site-top-bar-container { background-color: $dark-gray; }

// Top Bar in all variations
.top-bar {
	background-color: $global-menu-background; // overwrites value in _settings.scss because we want to control all menus here
		@include breakpoint (medium down) {
			.top-bar-left { max-width: 70%; }
			.top-bar-right { max-width: 30%; }
		}

		.site-logo {}
		.site-title { color: $white; }

		.mobile-logo {
			.site-logo {}
			.site-title {}		
		}
		.sticky-logo {
			display: none;
		}
// Used in part-header-contained.php
#site-header-contained &, .site-header-contained & {
	max-width: $global-width; margin: 0 auto;
}
.is-stuck & {
		.sticky-logo {
			display: block;
				.site-logo {}
				.site-title {}		
		}
}
		ul.dropdown.menu {
			@include flex-align(center, middle); width:100%;
				li {}

				ul { display: none; } // Loads with display: none to prevent submenu flashes. 
				ul.js-dropdown-active { display: block; }
		}
}

// Trigger for off-canvas menu 
.top-bar .off-canvas-button {
	$size-multiplier: 1.5;

	text-align: right;
	> a { 
		padding: $global-padding; // cen be reduced if the button is larger
		display: inline-block; 

			.hamburger {
				width: 1.5rem * $size-multiplier; height: 0.875rem * $size-multiplier;
				position: relative;
				display: inline-block;
				transform: rotate(0);

					span {
						display: block;
						position: absolute;
						height: 2px * $size-multiplier;
						width: 100%;
						background-color: $global-menu-color;
						opacity: 1;
						left: 0;
						transform: rotate(0);
						transition: transform 125ms linear;
							&:nth-child(1) { top: 0; }
							&:nth-child(2) { top: 0.4375rem * $size-multiplier; }
							&:nth-child(3) { top: 0.875rem * $size-multiplier; }
					}
				&.is-active {
					span {

								&:nth-child(1) { top: 0.5rem * $size-multiplier; transform: rotate(135deg); }
								&:nth-child(2) { top: 0.4375rem * $size-multiplier; opacity: 0; }
								&:nth-child(3) { top: 0.5rem * $size-multiplier; transform: rotate(45deg); }
					}
				}
			}

	}
}






// Off Canvas menu
.off-canvas-menu { 
	background-color: $global-menu-background;

		.is-drilldown-submenu {}
		.js-drilldown-back a::before { border-color: transparent $global-menu-color transparent transparent; }
	
}
.admin-bar>.off-canvas-menu {
	padding-top: 32px !important;

	@include breakpoint(782px down) { // only relevant if sticky turned on for mobile
		& {
			padding-top: 46px !important;
		}	
	}	
}	
