/******************************************************************

Stylesheet: Opt Ins

Styles for the opt in forms site wide.

******************************************************************/

.opt-in {
	form {
		fieldset {
			padding: ($global-padding / 2) 0;
		}

		.cell {
			padding-left: 5px;
			padding-right: 5px;
		}

		input { margin-bottom: $global-margin/2; }

		@include breakpoint(mlarge up) {
			input { margin-bottom: 0; }
		}
	}		

	.button, input[type="submit"], button {

		&:hover {}
	}

	.opt-in-gdpr-intro {
		p { margin-bottom: 0; }
	}	
	.opt-in-gdpr-permissions, .opt-in-gdpr-permissions label {
		@extend strong;
	}
	.opt-in-gdpr-outro {
		@extend small;

		p { margin-bottom: 0; }
	}	
}


// Header
.opt-in.header {
	background-color: $light-gray;
	padding: $global-padding 0;
}

// Footer
.opt-in.footer {
	background-color: $light-gray;
	padding: $global-padding 0;
}

// Shortcode
.opt-in.shortcode {

}

// Blog
.opt-in.post {
	
}

// Widget
.opt-in.widget {

}