/******************************************************************

Stylesheet: Pages and Posts

Styles relating to WordPress page templates, page.php (and variarions
of page templates. i.e. page-about.php) and post templates, single.php (and any
variarions of post templates. i.e. single-x.php


Post Formats have their own stylesheet

******************************************************************/

// Body classes - style pages depending on template or post type
body.page {}
body.single {}

body.page.page-template-default {
	#sidebar {}
}
body.single.single-post {
	#sidebar {}
}

// Article - the page/post meat
// Posts
article.post {
	.entry-body {}
	.entry-header {}
	.entry-content { 
		margin: $global-margin 0; 
		@include clearfix;
	}
	.entry-summary {
		margin: $global-margin 0; 
		@include clearfix;
	}
	.entry-footer {}

	.page-links {
		margin: $global-margin 0; 

			span {
				text-transform: uppercase;
				font-size: rem-calc(11);
			}
	}
		.entry-meta { 
			margin-bottom: $global-margin; 
			time { text-transform: uppercase; }
		}
	.post-meta {
		//margin: 0 0 $global-margin 0;

			&.icons {
				.by-author, .post-date, .post-cats, .post-tags { display: inline-block; margin: 0 $global-margin 0 0; }
			}

			.by-author, .post-date, .post-cats, .post-tags {}
	}	

	.edit-link {}

	.social-sharing {
		span { 
		    text-transform: uppercase;
		    font-size: .6875rem;
		}
		ul { list-style: none; display: inline-block; }
		li { display: inline-block; }
		a { padding: 5px; }
	}

	&.featured {
		@include callout($primary-color);
	}

	&.mini {
		.entry-header {
			.post-meta-label { 
				margin-bottom: $global-margin; width: 40%; 
				background-color: $primary-color; 
				color: $white; padding: $global-padding/4; font-size: rem-calc(14); 
				text-transform: uppercase; line-height: 1;
			}
			.entry-title { @extend h5; text-transform: none; display: block; margin-bottom: 0; }
		}
		.entry-summary { 
			padding-bottom: $global-padding;
			p { color: $black; }
		}
		.entry-footer {
			.social-sharing {}
		}

		&:hover {
			.entry-thumbnail { opacity: 0.9; }
			.entry-title { text-decoration: underline; }
		}
	}
}

// Person
article.inti-person {
	.entry-body {}
	.entry-thumbnail {}
	.entry-header {
		margin-bottom: $global-margin;

		.entry-title {
			margin-bottom: 0;

			.linkedin { 
				display: inline-block;
				margin-left: 2px;
				@extend .h3;
						
					a { @include anchor-color($body-font-color, $li-color); }
			}

			.twitter { 
				display: inline-block;
				margin-left: 2px;
				@extend .h3;
						
					a { @include anchor-color($body-font-color, $tw-color); }
			}
		}
		span.job-title {
			display: block; @extend .h6;
		}
	}

	&.mini {
		.entry-body { margin-bottom: $global-margin; }
		.entry-thumbnail {
			margin-bottom: $global-margin;
		}
		.entry-header {
			span.entry-title {
				display: block; @extend .h4; margin-bottom: 0;

					.linkedin, .twitter { 
						 font-size: rem-calc(14); margin-bottom: 0; font-weight: 400;
						i.fab { padding: 0 2px 2px;  }
					}
			}

		}

		a &:hover {
			.entry-thumbnail { opacity: 0.9; }
		}
		&:hover {
			.entry-header {
				span.entry-title {
					.linkedin {
						color: $li-color;
					}
					.twitter {
						color: $tw-color;
					}
				}
			}
		}
	}
}

nav.nav-single {
	@include grid-row;
	margin: $global-margin 0;

	.alignleft { margin: 0 0 $global-margin 0; display: inline-block; }

	@include breakpoint(medium up) {
		.alignleft { @include grid-column(5, 0); margin: 0; } 
		.alignright { @include grid-column(5, 0); text-align: right; }
	}
}

// article.page {
// 	.entry-body {
// 		.entry-header {}

// 		.entry-content {}

// 		.entry-footer {}
// 	}
// }

// article.post {
// 	.entry-body {
// 		.entry-header {}

// 		.entry-content {}

// 		.entry-footer {}
// 	}
// }



