/******************************************************************

Stylesheet: Footer

Styles for the site-footer and the components it is home to. The
footer can be wide or contained.

******************************************************************/

.site-footer {}
#site-footer-wide {}
#site-footer-contained {}

.footer-widgets {
	padding: $global-padding 0;
	background-color: $light-gray; 
}
.footer-menu { 
	background-color: $black; 

		ul.menu {
			a { @include anchor-color($white, $anchor-color); }
			li { display: inline-block; }
		}

}
.footer-social { 
	padding: $global-padding 0;
	background-color: $light-gray; 

		ul { 
			margin: 0; list-style: none;
			li { display: inline-block; }
			a { padding: 5px; }
		}
}
.footer-info {
	background-color: $light-gray; 

		span.copyright {}
		span.site-credits {}
}

a#inti-scroll-to-top {
	display: none;
	position: fixed; bottom: .5rem; right: .5rem;
	background-color: $black;
	color: $white;
	text-align: center;
	font-size: 2rem;  line-height: 2.5rem;
	width: 2.5rem;
	height: 2.5rem;
}

.cookies#inti-cookie-policy {
	width: 100%; max-width: none !important;
	height: 100%;
	position: fixed;
	bottom: 0;  top: 0;
	background-color: rgba($white, .9);

	@include breakpoint(mlarge up) {
		width: 90%;
		height: 20vh;
		position: fixed;
		right: 5%; left: 5%;
		bottom: 0 !important;  top: 80vh !important; margin-bottom: 20vh;
	}

	
}