/******************************************************************

Stylesheet: Mixins & Constants Stylesheet from JointsWP

This is where you can take advantage of Sass' great features:
Mixins & Constants.

******************************************************************/

/*********************
TOOLS
*********************/

// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
.image-replacement {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}


/*********************
COLORS
*********************/
// Make something look like an anchor
@mixin anchor {
	&:not(.button):not(button) {
		color: $anchor-color;
		&:hover {
			//color: scale-color($anchor-color, $lightness: $anchor-color-hover-scale); 
			color: $anchor-color-hover;
		}
	}
}

// Set an anchor to have a different color than the default
@mixin anchor-color($color, $hover-color: $color) {
	transition: $global-transition;
	color: $color;
	&:hover {
		@if $hover-color == $color {
			color: scale-color($hover-color, $lightness: $anchor-color-hover-scale);
		} 
		@else {
			color: $hover-color;
		}
	}
}

// Set a button to have a different color than the default
@mixin button-color($bg-color, $bg-hover-color: $bg-color, $font-color: $button-color, $hover-font-color: $font-color ) {
	transition: $global-transition;
	background-color: $bg-color;
	color: $font-color;

	&:hover {
		@if $bg-hover-color == $bg-color {
			background-color: scale-color($bg-hover-color, $lightness: $button-background-hover-scale);
		} 
		@else {
			background-color: $bg-hover-color;
		}
		@if $hover-font-color == $font-color {
			// do nothing
		} 
		@else {
			color: $hover-font-color;
		}
	}
}
@mixin button-hollow-color($border-color, $border-hover-color: $border-color) {
	transition: $global-transition;
	border: $button-hollow-border-width $border-color solid !important;
	background-color: transparent;
	color: $border-color;

	&:hover {
		border: $button-hollow-border-width scale-color($border-hover-color, $lightness: $button-background-hover-scale) solid !important;
		color: scale-color($border-hover-color, $lightness: $button-background-hover-scale) !important;
	}
}


/*********************
LAYOUT
*********************/
@mixin layout-spacing($small:2, $medium:3, $mlarge:3, $large:3) {
	padding: $global-padding*$small 0;

	@include breakpoint(medium up) {
		padding: $global-padding*$medium 0;
	}

	@include breakpoint(mlarge up) {
		padding: $global-padding*$mlarge 0;
	}

	@include breakpoint(large up) {
		padding: $global-padding*$large 0;
	}
}
@mixin layout-spacing-bottom($small:2.5, $medium:3, $mlarge:3, $large:3) {
	padding: 0 0 $global-padding*$small 0;

	@include breakpoint(medium up) {
		padding: 0 0 $global-padding*$medium 0;
	}

	@include breakpoint(mlarge up) {
		padding: 0 0 $global-padding*$mlarge 0;
	}

	@include breakpoint(large up) {
		padding: 0 0 $global-padding*$large 0;
	}
}
@mixin layout-spacing-top($small:2.5, $medium:3, $mlarge:3, $large:3) {
	padding: $global-padding*$small 0 0 0;

	@include breakpoint(medium up) {
		padding: $global-padding*$medium 0 0 0;
	}

	@include breakpoint(mlarge up) {
		padding: $global-padding*$mlarge 0 0 0;
	}

	@include breakpoint(large up) {
		padding: $global-padding*$large 0 0 0;
	}
}
@mixin layout-spacing-margin($small:2.5, $medium:3, $mlarge:3, $large:3) {
	margin: $global-margin*$small 0;

	@include breakpoint(medium up) {
		margin: $global-margin*$medium 0;
	}

	@include breakpoint(mlarge up) {
		margin: $global-margin*$mlarge 0;
	}

	@include breakpoint(large up) {
		margin: $global-margin*$large 0;
	}
}
@mixin layout-spacing-margin-bottom($small:2.5, $medium:3, $mlarge:3, $large:3) {
	margin: 0 0 $global-margin*$small 0;

	@include breakpoint(medium up) {
		margin: 0 0 $global-margin*$medium 0;
	}

	@include breakpoint(mlarge up) {
		margin: 0 0 $global-margin*$mlarge 0;
	}

	@include breakpoint(large up) {
		margin: 0 0 $global-margin*$large 0;
	}
}

/*********************
TYPOGRAPHY
*********************/
/*	@font-face {
    	font-family: 'Font Name';
    	src: url('assets/fonts/font-name.eot');
    	src: url('assets/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('assets/fonts/font-name.woff') format('woff'),
             url('assets/fonts/font-name.ttf') format('truetype'),
             url('assets/fonts/font-name.svg#font-name') format('svg');
    	font-weight: normal;
    	font-style: normal;
	}
*/

@mixin icon-button() {
	font-size: 1.6rem; padding: rem-calc(6.71) 0;
}

// FontAwesome
@mixin fa() {
	font-family: 'Font Awesome 5 Free'; font-weight: 900;
}

//Use the best ampersand - http://simplebits.com/notebook/2008/08/14/ampersands-2/
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
}

// arrows for links
@mixin arrow-link($dir) {
	@if $dir == 'right' {
		&::after {
			font-family: "Font Awesome 5 Free"; font-weight: 900;
			content: $arrow-right; margin-left: 4px; vertical-align: top;
		}
	}
	@else {
		&::before {
			font-family: "Font Awesome 5 Free"; font-weight: 900;
			content: $arrow-left; margin-right: 4px; vertical-align: top;
		}
	}
}
@mixin arrow-button($dir) {
	@if $dir == 'right' {
		&::after {
			font-family: "Font Awesome 5 Free"; font-weight: 900;
			content: $arrow-right; margin-left: 8px; vertical-align: middle;
		}
	}
	@else {
		&::before {
			font-family: "Font Awesome 5 Free"; font-weight: 900;
			content: $arrow-left; margin-right: 8px; vertical-align: middle;
		}
	}
}

// Fancy bullets
@mixin ul-check ($color: $primary-color) {
	& {
		list-style: none;

		li {
			position: relative;
			&:before {
				font-family: "Font Awesome 5 Free";
				content: "\f00c"; font-size: 12px; font-weight: 600;
				color: $color;
				display: block;
				position: absolute;
				top: 4px; left: -$global-margin*1.2;
			}
		}
	}

}
@mixin ul-circle ($color: $primary-color) {
	& {
		list-style: none;

		li {
			position: relative;
			&:before {
				font-family: "Font Awesome 5 Free";
				content: "\f111"; font-size: 8px; font-weight: 600;
				color: $color;
				display: block;
				position: absolute;
				top: 8px; left: -$global-margin;
			}
		}
	}

}
@mixin ul-chevron ($color: $primary-color) {
	& {
		list-style: none;

		li {
			position: relative;
			&:before {
				font-family: "Font Awesome 5 Free";
				content: "\f054"; font-size: 12px; font-weight: 600;
				color: $color;
				display: block;
				position: absolute;
				top: 6px; left: -$global-margin*1.3;
			}
		}
	}

}

/*********************
CSS3 GRADIENTS.
*********************/

/* @include css-gradient(#dfdfdf,#f8f8f8); */
@mixin css-gradient($from: #dfdfdf, $to: #f8f8f8) {
	background-color: $to;
	background-image: linear-gradient(to bottom, $from, $to);
}

@mixin hero-overlay($color: $black) {
	background: rgba($color, .6);
	background: linear-gradient(180deg, rgba($color,0.15) 0%, rgba($color,0.7) 45%, rgba($color,0.15) 100%); 
}